:root{
    --pri-bg-color: #F0F3FA;
    --sec-bg-color: #FFF;

    --primary-font-color: #6E3482
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--pri-bg-color);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
h1 {
    color: var(--primary-font-color);
}

.landpage-btns {
   display: grid;
   height: 90px;
   width: 80%;
   margin: 20px auto;
   row-gap: 20px;
}
button {
    text-decoration: none;
    text-align: center;
    outline: 1px solid var(--primary-font-color);
    color: var(--primary-font-color);
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 600;
    border-style: none;
    border-radius: .1rem;
}

.start {
    position: relative; /* Necessary for pseudo elements */
    color: var(--primary-font-color);
    overflow: hidden;
    transition: color 1s;
    z-index: 1; /* Ensures button content stays above */
}

.start:hover{
    color: #FFF;
    text-transform: uppercase;
}
.start::before {
    content: '';
    position: absolute; /* Needed for positioning */
    left: -50px; /* Anchor to left */
    top: 0; /* Anchor to top */
    width: 0; /* Initial state for animation */
    height: 100%;
    
    background-color: var(--primary-font-color);
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.start:hover::before {
    width: 150%;
}